.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 1rem;
}

.App > div {
  min-width: 15rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
